[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[packages]
django = ">=2.2"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
"boto3" = "*"
crayons = "*"
progress = "*"
"politico-civic-utils" = "~=1.0a2.dev5"
entity = {path = "./..",editable = true}

[dev-packages]
ipython = "*"
pytest = "*"
"flake8" = "*"
